@{
    ViewBag.Title = "About";
}
<div class="container">
    <div>
        <div class="leftside"><img src="~/Images/AboutImages/1.jpg" alt="img" class="container-img" /></div>
        <div class="rightside">
            <div id="lookbook">
                <h1>Sustainable quality</h1>
                <p>
                    We value design, quality and everything that comes in between. That means we pay close attention to how our designs comes to life. All the way from the source of our raw materials to the conditions for the skilled people on the factory floor. We ensure that our designs are created under environmentally and socially responsible conditions with a strong love for natural, authentic and sustainable materials. In fact, our new collection has been produced with a strong focus on natural, authentic and sustainable raw materials.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="leftside">
            <div id="lookbook">
                <h1>Production and craftmanship</h1>
                <p>
                    Passion for handpicking the best possible materials, using the best possible design techniques all to create the best possible products. That’s why our designers are so much more than just designers – they are passionate craftsmen and women who have an acute sense of detail. They respect proud traditions, but are not afraid of mixing them with new thoughts and ideas. They have high quality standards, which means that every piece of furniture is built to last and comes with a 5-year warranty. Honest craft is an art form. And it all starts with passion.
                </p>
            </div>
        </div>
        <div class="rightside"><img src="~/Images/AboutImages/2.jpg" alt="img" class="container-img" /></div>
    </div>
    <div>
        <div class="leftside"><img src="~/Images/AboutImages/3.jpg" alt="img" class="container-img" /></div>
        <div class="rightside">
            <div id="lookbook">
                <h1>Everything begins with the design</h1>
                <p>
                    We believe being good at one and not the other is too easy. You have to be able to feel the love, sweat and emotions that have been put into every single design, every piece of wood, glass or metal. You have to understand where and how every sourced material is produced, not just to ensure quality at every turn, but to know, and be satisfied, that every piece comes with a clear conscience, ethically and environmentally.
                </p>
                <p>
                    90% of all designs are handmade in Europe, tailor-made to fit all needs or wishes from our customers. We have no warehouses, and no furniture in stock. All design are made-to-order. When you order your chosen design in either one of our concept stores or on Bolia.com, it’s being produced – just for you.
                </p>
            </div>
        </div>
    </div>
</div>