@{
    ViewBag.Title = "Contact";
}

<div class="container">
<div>
    <div class="leftside"><img src="~/Images/ContactImages/contact.jpg" alt="img" class="container-img" /></div>
    <div class="rightside">
        <div id="lookbook">
            <h1>Contact customer service</h1>
            <p>
                We are here to help. Whether you have a question about a product design, your recent order or simply just want to say hello. Our customer service team in Denmark is looking forward to assisting you.
            </p>
            <p>Email: customerservice@bolia.com</p>
            <p>Phone: +45 51 50 51 22</p>
            <p>Opening hours:</p>
            <p>Monday - Friday 9-21 (GMT+1)</p>
            <p>Saturday 10-16</p>
        </div>
    </div>
</div>