@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div>
        <div class="leftside"><img src="~/Images/IndexImages/cama.jpg" alt="img" class="container-img" /></div>
        <div class="rightside">
            <div id="lookbook">
                <h1>Offers</h1>
                <p>...</p>
            </div>
        </div>
    </div>
    <div>
        <div class="leftside">
            <div id="lookbook">
                <h1>New Scandinavian Design</h1>
                <p>
                    Our team of award-winning designers put all of their soul into the design of our unique collections, which are filled with personality and love. We hand-make each and every design for you and your style, and we have thousands of options.  We have no big warehouses and no old stock. We have only perfectly customized products which suit your preferences. Hand-made and delivered directly to your front door.
                    Our European and Danish suppliers hand make every single design from the finest materials such as solid wood, wool, metallics, marble, leather and love.
                    When you visit our stores, we excite all your senses with inspiring installations, soft wool sofas, cool mixtapes, organic coffee, wonderful scents and of course the best in New Scandinavian Design.
                </p>
            </div>
        </div>
        <div class="rightside"><img src="~/Images/IndexImages/bano.jpg" alt="img" class="container-img" /></div>
    </div>
    <div>
        <div class="leftside"><img src="~/Images/IndexImages/mesa.jpg" alt="img" class="container-img" /></div>
        <div class="rightside">
            <div id="lookbook">
                <h1>The Lookbook</h1>
                <p>
                    The possibilities of our new collection truly come alive as we begin to play, to place and to create our visual universe. Saturated with elegance, freshness and minimalism, our creative universe emanates The New Icons in a new Scandinavian setting.
                </p>
            </div>
            <div class="mySlides" id="categorySlide">
                <img src="~/Images/CategoryImages/mirror.jpg" alt="img" />
                <div class="caption">Mirror</div>
            </div>
            <div class="mySlides">
                <img src="~/Images/CategoryImages/vase.jpg" alt="img" />
                <div class="caption">Vase</div>
            </div>
            <div class="mySlides">
                <img src="~/Images/CategoryImages/textil.jpg" alt="img" />
                <div class="caption">Textil</div>
            </div>
            <div class="mySlides">
                <img src="~/Images/CategoryImages/other.jpg" alt="img" />
                <div class="caption">Other</div>
            </div>

            <input type="button" id="categorySlideButton" value="&#10094;" onclick="plusDivs(-1)">
            <input type="button" id="categorySlideButton" value="&#10095;" onclick="plusDivs(+1)">
        </div>
    </div>
</div>